.header {
    background-color: var(--clr-black);
}

.header_container {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.header__logo {
    flex: 0.35;
    text-align: center;
}

.header__logo--full--Width {
    flex: 1;
    text-align: center;
    padding: 0.5em;
}

@media screen and (max-width: 692px) {
    .header_container {
        flex-direction: column;
        padding-bottom: 0.4em;
    }

    .header__logo {
        order: -1;
        margin-top: 0.6em;
    }
}